.navbar-brand {
  font-size: $xxx-large;
}

sup {
  font-size: $xx-small;
  top: -1.5rem;
}
.navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
}

.navbar-toggler {
  border: none;
}

.navbar-light {
  color: $black !important;
}

.fas {
  color: $black;
}
