
.yuki__columna1__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media screen and (min-width: 601px) {
  .yuki__columna1__img {
    margin-left: 3rem;
    }
}
@media screen and (max-width: 600px) {
   .yuki__columna1__img {
    margin-left: 1rem;
  }
}

.yuki__columna2__title {
  margin: 0;
  font-size: $x-large;
  font-weight: bold;
  text-decoration: none;
}

.yuki__columna2__followers {
  font-size: $small;
}

@media screen and (min-width: 601px) {
  .container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
    }
}
@media screen and (max-width: 600px) {
   .container-fluid{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.main__title {
  font-size: $xx-large;
}

@media screen and (max-width: 600px) {
   .main__title{
    text-align: center;
  }
}
.card {
  border: none;
  padding-bottom: 2rem;
}
.card-img-top{
  border-radius: 0;
}

.card-title {
  font-weight: bold;
  padding-top: 1rem;
  margin-bottom: 0;
}

.card-text {
  font-size: $medium;
}

.card-body {
  padding: 0;
}
